*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
   
   width: 100%;
 

}
header{
    width: 100%;
    background-image: url("images/bg-hero-desktop.svg") ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: hsl(193, 100%, 96%);

   
    
}
nav{
    width: 95%;
    padding: 20px;
    display: flex;
    justify-content: space-between;  
}
#nav_logo>img{
    width: 75%;
}
#nav_button{
    background-color:  white;
    width: 200px;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
}
#section1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 90%;
    margin: 20px;
   
    
}
#summary{
    width: 70%;
    margin: 15px;
}
#summary_image>img{
    width: 100%;
}