*{
    padding: 0%;
    margin: 0%;
}
body{
   box-sizing: border-box;
   width: 100%;

}
header{
    width: 100%;
    
}
nav{
    width: 95%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
   
}